:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  --main-text-color: #6d6b6b;
  --main-focus-outline: #3e3e3e;
  --main-background-color: #ffffff;
  --focus-background-color: #f7f7f7;
  color: var(--main-text-color);

  --light-gray: #e4e7ec;
  --blue-gray: #dfe8f0;
  --light-blue: #2589be;
  --light-red: #e45c4a;

  --btn-background: linear-gradient(0deg, #726dcc 0%, #2589be 100%);
}

body {
  height: 100vh;
  /* background: #726dcc;
  background: linear-gradient(135deg, #726dcc 0%, #2589be 50%, #00d4ff 100%); */

  background: rgb(114, 109, 204);
  background: linear-gradient(
    135deg,
    rgba(114, 109, 204, 0.8) 0%,
    rgba(37, 137, 190, 0.8) 50%,
    rgba(0, 212, 255, 0.8) 100%
  );
}

::before,
::after {
  box-sizing: inherit;
}
